{project_name, sinan}.
{project_vsn, "2.0.23a"}.

{escript, [{include_apps,
            [erlware_commons, cucumberl, proper,
             getopt]}]}.

{dep_constraints,
 [{cucumberl, "0.0.4", gte},
  {erlware_commons, "0.6.0", gte},
  {getopt, "0.0.1", gte}]}.

{dialyzer_ignore, [erlware_commons]}.

{ignore_dirs,  ["_",
                ".",
                "smoketests",
                "features"]}.
