{project_name, sinan}.
{project_vsn, "1.0.1"}.

{escript, [{include_apps,
            [erlware_commons, cucumberl, proper,
             getopt]}]}.

{dep_constraints,
 [{cucumberl, "0.0.4", gte},
  {erlware_commons, "0.5.0", gte},
  {getopt, "0.0.1", gte}]}.

{ignore_dirs,  ["_",
                ".",
                "smoketests",
                "features"]}.
