Source: erlang-sinan
Section: devel
Priority: extra
Maintainer: Eric Merritt <eric@afiniate.com>
Build-Depends: debhelper (>= 8.0.0),
               rsync,
               erlang-base,
               erlang-dev,
               erlang-tools,
               erlang-eunit,
               erlang-edoc,
               erlang-syntax-tools,
               erlang-xmerl,
               erlang-parsetools,
               erlang-mnesia,
               erlang-proper,
               erlang-cucumberl,
               erlang-erlware-commons,
               erlang-getopt,
               python-pexpect
Standards-Version: 3.9.2
Homepage: https://github.com/erlware/sinan
Vcs-Git: https://github.com/erlware/sinan.git
Vcs-Browser: https://github.com/erlware/sinan

Package: erlang-sinan
Architecture: all
Depends: ${misc:Depends},
         erlang-base,
         erlang-dev,
         erlang-tools,
         erlang-eunit,
         erlang-edoc,
         erlang-syntax-tools,
         erlang-xmerl,
         erlang-parsetools,
         erlang-mnesia,
         erlang-proper,
         erlang-cucumberl,
         erlang-erlware-commons,
         erlang-getopt
Description: Sinan is a build tool designed to build Erlang/OTP Projects
 Sinan is a build tool designed to build Erlang/OTP Projects, Releases
 and Applications. Sinan leverages the metadata artifacts provided by
 OTP to do a good job building, testing, releasing, etc with very
 little or no additional input from the developer.

